/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* END OF CSS RESET */

/* GLOBAL STYLES */

:root {
  --primary-color: #8053ff;
  --main-body-color: #23155b;
  --gray-light-color: #817d8e;
  --white-color: #f4f4f4;
  --main-bg-color: #f4f4f4;
}
* {
  font-family: "Martel Sans", "sans-serif", "Noto Sans Khojki";
}

/* END OF GLOBAL STYLES */

/* -------------------------------------------------------------------------------------- */
body {
  background-color: var(--gray-light-color);
}

nav {
  background-color: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

nav img {
  margin-right: auto;
}

nav a {
  text-decoration: none;
  color: #000000;
  transition: all 0.3s ease 0s;
}

nav a:hover {
  color: var(--white-color);
}

nav button {
  background-color: var(--main-body-color);
  text-decoration: #f4f4f4;
  border-radius: 5px;
  border: none;
  padding: 8px;
  color: var(--white-color);
  transition: all 0.3s ease 0s;
}

nav button:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

#intro-cta {
  background-color: none;
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  justify-content: space-evenly;
}
